.App {
  box-sizing: border-box;
  margin: 0;
  background: white;
  height: 100vh;
  overflow-y: scroll;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.app-bar-title {
  flex-grow: 1;
}

.main-container {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);
}

.todo-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.auth-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Variables */
:root {
  --sizing-sm: 8px;
  --sizing-md: 16px;
  --sizing-lg: 24px;
  --sizing-xl: 36px;
  --sizing-xxl: 48px;
  --sizing-3xl: 72px;
  --sizing-4xl: 128px;
}

.add-progress-row {
  margin-top: var(--sizing-lg);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.track-habits-bubbles {
  display: flex;
  gap: var(--sizing-md);
}

.add-habit-wrapper {
  height: var(--sizing-xl);
  width: var(--sizing-xl);
}

.habit-emoji {
  font-size: var(--sizing-lg);
  height: var(--sizing-lg);
  line-height: 1;
  width: var(--sizing-lg);
}

.create-habit-modal {
  padding: var(--sizing-xl);
  background-color: white;
  display: flex;
  flex-direction: column;
  outline: solid 2px green;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  border-radius: 4px;
}

.create-habit-input {
  display: flex;
  flex-direction: column;
  gap: var(--sizing-md);
  margin-bottom: var(--sizing-lg);
  margin-top: var(--sizing-lg);
  width: 400px;
  height: 100%;
}

.submit-habit-button {
  width: var(--sizing-4xl);
  padding: var(--sizing-sm);
}

.modal-action-items {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: var(--sizing-md);
}

.name-emoji-row {
  display: flex;
  flex-direction: row;
}

.name-input {
  width: 100%;
}

.emoji-input {
  align-self: center;
  margin-left: var(--sizing-lg);
}

.emoji-picker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 400px;
  /* background-color: white; */
  z-index: 999;
}
