.App {
  box-sizing: border-box;
  margin: 0;
  background: white;
  height: 100vh;
  overflow-y: scroll;
}

.App-logo {
  height: 6vmin;
  pointer-events: none;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover,
.link-button:focus {
  text-decoration: none;
}

.app-bar-title {
  flex-grow: 1;
}

.main-container {
  padding-top: 48px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 64px);
}

.todo-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.auth-card {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Variables */
:root {
  --sizing-sm: 8px;
  --sizing-md: 16px;
  --sizing-lg: 24px;
  --sizing-xl: 36px;
  --sizing-xxl: 48px;
}

.add-progress-row {
  margin-top: var(--sizing-lg);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.track-habits-bubbles {
  display: flex;
  gap: var(--sizing-md);
}

.add-habit-wrapper {
  height: var(--sizing-xl);
  width: var(--sizing-xl);
}

.habit-emoji {
  height: var(--sizing-lg);
  width: var(--sizing-lg);
  font-size: var(--sizing-lg);
  line-height: 1;
}

.habit-calendar {
  padding-top: 50px;
}